@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0; 
    padding: 0;
}

h1{
    color: blue;
    margin : 10%;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #f6f5f7;
    color: #3E363F;
    background-image: url("fondo.jpg"); 
    background-size: cover;
}

#calculadora{
    background: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    grid-area : calculadora;
}

#contenedor{
    text-align: center;
    margin: 20px auto;
    width: 80%;
    height: auto;
    max-width: 1000px;;
    height: 700px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);    
    grid-template-areas: "calculadora resultados"
                        "calculadora resultados"
                        "detalle detalle";
}

#detalle{
    padding: 10px;
    background: rgb(112, 112, 235);
    color: #f6f5f7;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    grid-area: detalle;
}

#resultados{
    background-color: #FF416C;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    grid-area: resultados;
}



.contenido{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}

input{
    margin-top: 5%;
    width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button{
    font-size: 15px;
    font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #FF416C;
	border: 1px solid #FF416C;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
    margin-top: 5%;
}

button:hover{
    background-color: #c53456;
}

button:active {
	transform: scale(0.95);
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

#mant1500{
    display: none;
}

#mant2000{
    display: none;
}

.resultado{
    text-align: left;
    color: white;
    margin-bottom: 5px;
}

#ResulObtenidos{
    color: white;
}

#item{
    font-size: 20px;
}

@media screen and (max-width: 768px){
    #contenedor{
        grid-template-areas: "calculadora calculadora"
                            "resultados resultados"
                            "detalle detalle";
    }
}

#detalle .contenido h1{
    margin: 0 0 5% 5%;
}

li{
    text-align: left;
        font-size: 15px;
}